{% extends 'base.html' %}
{% block content %}
{%block style %}
<script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: -34.397, lng: 150.644}
      });
      var geocoder = new google.maps.Geocoder();

      document.getElementById('submit').addEventListener('click', function() {
        geocodeAddress(geocoder, map);
      });
    }

    function geocodeAddress(geocoder, resultsMap) {
        // TODO Jinja templating for looping through pins generating a array of lat and longitude etc.
      var address = document.getElementById('address').value;
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === 'OK') {
            // TODO zoom into region with pins
          resultsMap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location
          });
          marker.addListener('click', function() {
            // TODO opens detailed view (pin_card modal)
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>
<style>
    .pin-card {
        height: 200px;
    }

    .pin-overlay {
        height: 200px;
    }

    .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>
{% endblock %}
<!--TODO add jinja templating to grab 10 most recent reviews to populate newsfeed-->
<!--TODO add left/right scroll functionality-->
<h3><strong>Newsfeed</strong></h3>
<hr>
<div class="row row-cols-4">
    <div class="col mb-4">
        <!--Modal on click-->
        <div class="modal fade" id="expandedview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="view overlay">
                        <!--TODO user in session reviews-->
                        <img class="card-img-top" src="https://picsum.photos/500/250" alt="Card image cap">
                        <!--TODO add Jinja template for uploaded image -->
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <!--TODO add jinja templating for users pin content-->
                        <h3 class="card-title mb-0">Place</h3>
                        <small class="text-muted">Reviewer name</small>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the
                            bulk
                            of
                            the card's
                            content.
                        </p>
                        <h5>Visit</h5>
                        <h5>Avoid</h5>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="font-weight-bold blue-grey-text py-2">Recent Pins</h6>
        <!-- Card -->
        <div class="pin-card card card-image view overlay"
            style="background-image: url(https://picsum.photos/300/200);">
            <!-- Content -->
            <div class="pin-overlay text-white align-items-center rgba-black-light pb-5 px-3">
                <!--TODO add name truncation functionality for location name-->
                <h4 class="card-title pt-2 mb-0"><strong>Location</strong></h4>
                <h5><small class="text">Username</small></h5>
            </div>

            <a href="#" data-toggle="modal" data-target="#expandedview">
                <!--TODO add data toggle and data target to href-->
                <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>

        </div>
    </div>
</div>
<h3><strong>Explore</strong></h3>
<hr>
<h6 class="font-weight-bold blue-grey-text py-2">Explore pinned locations!</h6>
<!--Google Map-->
<div id="map" class="z-depth-1-half map-container mb-3" style="height: 500px">
</div>
<!--Add Pin Modal-->
<a href="#" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#addPin-form">Add new pin
</a>
<!--Add pin modal-->
<!--TODO Jinja templating for pin cards-->
<div class="modal fade" id="addPin-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!--added form here-->
            <form action = "\addpin\{{ user_id }}" method = "POST">
                <h4 class="modal-title w-100 font-weight-bold">Add Pin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas prefix grey-text"></i>
                    <input type="text" name="location" class="form-control validate">
                    <label>City, State/Province, Country</label>
                </div>

                <div class="md-form">
                    <i class="fas prefix grey-text"></i>
                    <textarea type="text" name="description" class="md-textarea form-control"></textarea>
                    <label>Description of location</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas prefix grey-text"></i>
                    <textarea type="text" name="visit" class="md-textarea form-control"></textarea>
                    <label>Places To Visit</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas prefix grey-text"></i>
                    <textarea type="text" name="avoid" class="md-textarea form-control"></textarea>
                    <label>Places To Avoid</label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="upload-input">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file-input" aria-describedby="upload-input">
                        <label class="custom-file-label" for="file-input">Choose file</label>
                    </div>
                    <small id="passwordHelpBlockMD" class="form-text text-muted">
                        Image must not be larger than 1250x1250px and must be either png, or jpeg.
                    </small>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type = "submit" class="btn sub-btn">Submit pin <i class="fas fa-paper-plane-o ml-1"></i></button>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}