{% extends 'base.html' %}
{% block content %}
{% block head %}
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: { lat: 39.828, lng: -98.579 } // center of USA
        });

        var geocoder = new google.maps.Geocoder();

        var pins = [
            {% for pin in all_pins %}
            {
                'location': '{{ pin.location }}',
                'id': '{{ pin.id }}'
            },
            {% endfor %}
        ];

    pins.forEach(function (pin) {
        geocodeAddress(geocoder, map, pin);
    });
    }

    function geocodeAddress(geocoder, map, pin) {
        geocoder.geocode({ 'address': pin.location }, function (results, status) {
            if (status === 'OK') {
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

                marker.addListener('click', function () {
                    $('#expandedview-' + pin.id).modal()
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
<style>
    .pin-card {
        height: 200px;
    }

    .pin-overlay {
        height: 200px;
    }

    .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .carousel-indicators {
        bottom: -50px;
    }

    .carousel-controls-top {
        font-size: 20px;
    }
</style>
{% endblock %}
<!--TODO add jinja templating to grab 9 most recent reviews to populate newsfeed-->
<h3><strong>Newsfeed</strong></h3>
<hr>
<!--Modal on click-->
{% for pin in all_pins %}
<div class="modal fade" id="expandedview-{{ pin.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="view overlay">
                <!--TODO user in session reviews-->
                <!-- TODO need actual image path -->
                <img class="card-img-top" src="{{url_for('static', filename=pin.picture)}}" alt="Card image cap" height="300">
                <!--TODO add Jinja template for uploaded image -->
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <div class="card-body">
                <h3 class="card-title mb-0">{{ pin.location }}</h3>
                <small class="text-muted">{{ pin.first_name }} {{ pin.last_name }}</small>
                <p class="card-text mt-3">{{ pin.post }}</p>
                <h5>Visit</h5>
                <p class="card-text mt-3">{{ pin.go }}</p>
                <h5>Avoid</h5>
                <p class="card-text mt-3">{{ pin.avoid }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<h6 class="font-weight-bold blue-grey-text py-2">Recent Pins</h6>
<div class="container my-4">
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        <div class="carousel-controls-top text-center">
            <a class="btn-floating tb-primary-floating" href="#multi-item-example" data-slide="prev">
                <i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating tb-primary-floating" href="#multi-item-example" data-slide="next">
                <i class="fa fa-chevron-right"></i></a>
        </div>

        <ol class="carousel-indicators">
            <li class="tb-primary active" data-target="#multi-item-example" data-slide-to="0"></li>
            <li class="tb-primary" data-target="#multi-item-example" data-slide-to="1"></li>
            <li class="tb-primary" data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            {% for pin in all_pins %}

            {% if loop.index % 3 == 1 %}
            <div class="carousel-item {{ 'active' if loop.first }}">
                <div class="{{ 'row' if loop.index % 3 == 1 }}">
                    <!-- clearfix d-none d-md-block -->
                    {% endif %}
                    <div class="col-md-4 {{ 'clearfix d-none d-md-block' if loop.index % 3 != 1 }}">
                        <!-- pins.id, pins.post, pins.location_id, pins.user_id, pins.created_date, pins.go, pins.avoid, pins.picture -->
                        <div class="pin-card card card-image view overlay"
                            style="background-image: url(/static/{{ pin.picture }});">
                            <!-- TODO need actual image path -->
                            <div class="pin-overlay text-white align-items-center rgba-black-light pb-5 px-3">
                                <!--TODO add name truncation functionality for location name-->
                                <h4 class="card-title pt-2 mb-0"><strong>{{ pin.location }}</strong>
                                </h4>
                                <h5><small class="text">{{ pin.first_name }} {{ pin.last_name }}</small></h5>
                            </div>

                            <a href="#" data-toggle="modal" data-target="#expandedview-{{ pin.id }}">
                                <!--TODO add data toggle and data target to href-->
                                <div class="mask waves-effect waves-light rgba-white-slight"></div>
                            </a>

                        </div>
                    </div>

                    {% if loop.index % 3 == 0 or loop.last %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<h3><strong>Explore</strong></h3>
<hr>
<h6 class="font-weight-bold blue-grey-text py-2">Explore pinned locations!</h6>
<!--Google Map-->
<div id="map" class="z-depth-1-half map-container mb-3" style="height: 500px">
</div>
<!--Add Pin Modal-->
<a href="#" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#addPin-form">Add new pin
</a>
<!--Pin modal-->
<!--TODO Jinja templating for pin cards-->
<div class="modal fade" id="addPin-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/addpin" method="POST" enctype="multipart/form-data">
                <div class="modal-header text-center">
                    <!--added form here-->
                    <h4 class="modal-title w-100 font-weight-bold">Add Pin</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" name="location" class="form-control validate">
                        <label>City, State/Province, Country</label>
                    </div>

                    <div class="md-form">
                        <i class="fas prefix grey-text"></i>
                        <textarea type="text" name="description" class="md-textarea form-control"></textarea>
                        <label>Description of location</label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas prefix grey-text"></i>
                        <textarea type="text" name="visit" class="md-textarea form-control"></textarea>
                        <label>Places To Visit</label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas prefix grey-text"></i>
                        <textarea type="text" name="avoid" class="md-textarea form-control"></textarea>
                        <label>Places To Avoid</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="upload-input">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" name = "file" class="custom-file-input" id="file-input"
                                aria-describedby="upload-input">
                            <label class="custom-file-label" for="file-input">Choose file</label>
                        </div>
                        <small id="passwordHelpBlockMD" class="form-text text-muted">
                            Image must not be larger than 1250x1250px and must be either png, or jpeg.
                        </small>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn sub-btn">Submit pin <i
                            class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}