{% extends 'base.html' %}
{% block content %}
{% block head %}
<style>
    .avatar {
        width: 150px;
    }
</style>
{% endblock %}

{% if user_id == profile_user_id | int %}
{% for pin in user_pins %}
<div class="modal fade" id="edit-pin-{{ pin.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Edit Pin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas prefix grey-text"></i>
                    <input type="text" id="location-form" class="form-control validate" value="{{ pin.location }}">
                    <label>City, State/Province, Country</label>
                </div>

                <div class="md-form">
                    <i class="fas prefix grey-text"></i>
                    <textarea type="text" class="md-textarea form-control">{{ pin.post }}</textarea>
                    <label>Description of location</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas prefix grey-text"></i>
                    <textarea type="text" class="md-textarea form-control">{{ pin.go }}</textarea>
                    <label>Places To Visit</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas prefix grey-text"></i>
                    <textarea type="text" class="md-textarea form-control">{{ pin.avoid }}</textarea>
                    <label>Places To Avoid</label>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <input type="hidden" name="id" value="{{ pin.id }}">
                <button type="submit" class="btn sub-btn">Submit pin <i class="fas fa-paper-plane-o ml-1"></i></button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<!--Profile Card-->
<div class="container">

    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="avatar mx-auto white">
                    <!--TODO uploaded img code for user in session-->
                    <img src="https://picsum.photos/250" class="mt-3 rounded-circle img-fluid" alt="avatar">
                    <!--TODO change avatar size in card-->
                </div>
                <div class="card-body">
                    <!--TODO user in sessions name here. -->
                    <h4 class="card-title"><a>{{user}}</a></h4>
                    <hr>
                    <h5>About Me</h5>
                    <p>
                        <!--TODO user in session about me content-->
                    </p>
                    {% if user_id == profile_user_id | int %}

                    <a href="/profile/edit/{{user_id}}" class="tb-primary btn btn-primary btn-rounded">Edit Profile</a>
                    <!--TODO add route to button-->
                    <a href="#" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#addPin-form">Add
                        new pin
                    </a>

                    {% endif %}
                    <!--Add pin modal-->
                    <!--TODO Jinja templating for pin cards-->
                    <div class="modal fade" id="addPin-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Add Pin</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action = "/addpin/{{ user_id }}" method = "POST">
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-5">
                                        <i class="fas prefix grey-text"></i>
                                        <input type="text" name="location" class="form-control validate">
                                        <label>City, State/Province, Country</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fas prefix grey-text"></i>
                                        <textarea type="text" name="description"
                                            class="md-textarea form-control"></textarea>
                                        <label>Description of location</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <i class="fas prefix grey-text"></i>
                                        <textarea type="text" name="visit" class="md-textarea form-control"></textarea>
                                        <label>Places To Visit</label>
                                    </div>

                                    <div class="md-form mb-5">
                                        <i class="fas prefix grey-text"></i>
                                        <textarea type="text" name="avoid" class="md-textarea form-control"></textarea>
                                        <label>Places To Avoid</label>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="upload-input">Upload</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file-input"
                                                aria-describedby="upload-input">
                                            <label class="custom-file-label" for="file-input">Choose file</label>
                                        </div>
                                        <small id="passwordHelpBlockMD" class="form-text text-muted">
                                            Image must not be larger than 1250x1250px and must be either png, or jpeg.
                                        </small>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="submit" class="btn sub-btn">Submit pin <i
                                            class="fas fa-paper-plane-o ml-1"></i></button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pin Card template-->
        <div class="col-12 col-md-6">
            {% for pin in user_pins %}
            <div class="row">
                <div class="col">
                    <div class="card mb-4">

                        <div class="view overlay">
                            <!--TODO user in session reviews-->
                            <!-- TODO need actual image path -->
                            <img class="card-img-top" src="/{{ pin.picture }}" alt="Card image cap">
                            <!--TODO add Jinja template for uploaded image -->
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body">
                            <h3 class="card-title mb-0">{{ pin.location }}</h3>
                            <small class="text-muted">{{ pin.first_name }} {{ pin.last_name }}</small>
                            <p class="card-text mt-3">{{ pin.post }}</p>
                            <h5>Visit</h5>
                            <p class="card-text mt-3">{{ pin.go }}</p>
                            <h5>Avoid</h5>
                            <p class="card-text mt-3">{{ pin.avoid }}</p>
                        </div>
                        {% if user_id == profile_user_id | int %}
                        <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal"
                            data-target="#edit-pin-{{ pin.id }}">Edit Pin
                        </a>
                        <a href="/delete/pin/{{pin_id}}" class="btn btn-primary btn-rounded mb-4">Delete Pin</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}